body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

p, ul {
    margin: 0em 2em 0em 2em;
}

th, dt-column-header {
    font-weight: normal !important;
    font-size: 14;
}

td {
    font-family: monospace;
}

button, dt-button {
    font-family: sans-serif;
    padding: 0.2em 0.4em !important;
}

div.dt-button-background {
    background: transparent;
}