body {
    font-family: serif;
}

h1 {
    font-weight: normal;
    text-align: center;
}

th, dt-column-header {
    font-weight: normal !important;
    font-size: 14;
}

td {
    font-family: monospace;
}

button, dt-button {
    font-family: serif;
    padding: 0.2em 0.4em !important;
}

div.dt-button-background {
    background: transparent;
}