body {
    font-family: sans-serif;
    padding-bottom: 30px;
}

h1, h2 {
    text-align: center;
}

pre {
    padding: 0em 2em 0em 2em;
    padding-left: 1.25em;
    overflow-x: auto;
    background-color: #f6f8fa;
    border-radius: 6px;
    border: 1px solid #ddd;
}

code {
    font-family: monospace;
    font-size: 0.95em;
}

.text-container {
    padding-inline: 2rem;
}

@media (min-width: 768px) {
  .text-container {
    padding-inline: 10rem;
  }
}

pre code {
    display: block;
}

th, dt-column-header {
    font-weight: normal !important;
    font-size: 14;
}

td {
    font-family: monospace;
}

button, dt-button {
    font-family: sans-serif;
    padding: 0.2em 0.4em !important;
}

div.dt-button-background {
    background: transparent;
}
